<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="icon" href="https://i.imgur.com/9X8oAos.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>franasemb</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav">
                    <li class="ms-2">
                        <img src="https://i.imgur.com/9X8oAos.png">
                    </li>

                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white fw-bold" href="#cont">Contacto</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="container ">
        <div class="row mt-4">

            <div class="col">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImg16">
                    <img loading="lazy" src="https://i.imgur.com/wu95zSm.jpg"
                        class="img-fluid rounded mx-auto d-block zoom">
                </a>
            </div>
            <div class="col">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImg17">
                    <img loading="lazy" src="https://i.imgur.com/TFgakGy.jpg"
                        class="img-fluid rounded mx-auto d-block zoom">
                </a>
            </div>
            <div class="col">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImg18">
                    <img loading="lazy" src="https://i.imgur.com/FmOJITD.png"
                        class="img-fluid rounded mx-auto d-block zoom ">
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImg1">
                    <img loading="lazy" src="https://i.imgur.com/ywgU4uf.jpg"
                        class="img-fluid rounded mx-auto d-block zoom ">
                </a>
            </div>
            <div class="col">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImg2">
                    <img loading="lazy" src="https://i.imgur.com/dTB5yUY.jpg"
                        class="img-fluid rounded mx-auto d-block zoom">
                </a>
            </div>
            <div class="col">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImg3">
                    <img loading="lazy" src="https://i.imgur.com/lFQzpoY.jpg"
                        class="img-fluid rounded mx-auto d-block zoom">
                </a>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImg4">
                    <img loading="lazy" src="https://i.imgur.com/azxyd1P.jpg"
                        class="img-fluid rounded mx-auto d-block zoom">
                </a>
            </div>
            <div class="col">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImg5">
                    <img loading="lazy" src="https://i.imgur.com/S631kJf.jpg"
                        class="img-fluid rounded mx-auto d-block zoom">
                </a>
            </div>
            <div class="col">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImg6">
                    <img loading="lazy" src="https://i.imgur.com/C2PxdQ3.jpg"
                        class="img-fluid rounded mx-auto d-block zoom">
                </a>
            </div>
        </div>

        <div class="row mt-4 ">
            <div class="col">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImg7">
                    <img loading="lazy" src="https://i.imgur.com/vuegEfy.png"
                        class="img-fluid rounded mx-auto d-block zoom">
                </a>
            </div>
            <div class="col">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImg8">
                    <img loading="lazy" src="https://i.imgur.com/r2lNfOb.png"
                        class="img-fluid rounded mx-auto d-block zoom">
                </a>
            </div>
            <div class="col">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImg9">
                    <img loading="lazy" src="https://i.imgur.com/kk4YjVT.png"
                        class="img-fluid rounded mx-auto d-block zoom">
                </a>
            </div>
        </div>

        <div class="row mt-4 ">
            <div class="col">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImg19">
                    <img loading="lazy" src="https://i.imgur.com/g5c3NBW.png"
                        class="img-fluid rounded mx-auto d-block zoom">
                </a>
            </div>
            <div class="col">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImg20">
                    <img loading="lazy" src="https://i.imgur.com/jllsSv7.png"
                        class="img-fluid rounded mx-auto d-block zoom">
                </a>
            </div>
            <div class="col">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImg21">
                    <img loading="lazy" src="https://i.imgur.com/8DtMiZn.png"
                        class="img-fluid rounded mx-auto d-block zoom">
                </a>
            </div>
        </div>

        <div class="row mt-4 ">
            <div class="col">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImg10">
                    <img loading="lazy" src="https://i.imgur.com/CJ64yQc.png"
                        class="img-fluid rounded mx-auto d-block zoom">
                </a>
            </div>
            <div class="col">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImg11">
                    <img loading="lazy" src="https://i.imgur.com/rACp2lj.jpg"
                        class="img-fluid rounded mx-auto d-block zoom">
                </a>
            </div>
            <div class="col">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImg12">
                    <img loading="lazy" src="https://i.imgur.com/41yOCoE.png"
                        class="img-fluid rounded mx-auto d-block zoom">
                </a>
            </div>
        </div>

        <div class="row mt-4 ">
            <div class="col">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImg13">
                    <img loading="lazy" src="https://i.imgur.com/fG2Uvvj.jpg"
                        class="img-fluid rounded mx-auto d-block zoom">
                </a>
            </div>
            <div class="col">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImg14">
                    <img loading="lazy" src="https://i.imgur.com/BIhwxDv.png"
                        class="img-fluid rounded mx-auto d-block zoom">
                </a>
            </div>
            <div class="col">
                <a href="#!" data-bs-toggle="modal" data-bs-target="#modalImg15">
                    <img loading="lazy" src="https://i.imgur.com/mqzUnnr.jpg"
                        class="img-fluid rounded mx-auto d-block zoom">
                </a>
            </div>
        </div>
    </div>
    </div>


    <!-- MODAL IMAGE  -->

    <!-- coneja de orejas largas -->
    <div tabindex="-1" aria-labelledby="modalImg1" aria-hidden="true" class="modal fade" id="modalImg1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img loading="lazy" src="https://i.imgur.com/ywgU4uf.jpg" class="img-fluid rounded-3">
            </div>
        </div>
    </div>
    <div tabindex="-1" aria-labelledby="modalImg1" aria-hidden="true" class="modal fade" id="modalImg2">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img loading="lazy" src="https://i.imgur.com/dTB5yUY.jpg" class="img-fluid rounded-3">
            </div>
        </div>
    </div>
    <div tabindex="-1" aria-labelledby="modalImg1" aria-hidden="true" class="modal fade" id="modalImg3">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img loading="lazy" src="https://i.imgur.com/lFQzpoY.jpg" class="img-fluid rounded-3">
            </div>
        </div>
    </div>
    <!--   osito -->
    <div tabindex="-1" aria-labelledby="modalImg1" aria-hidden="true" class="modal fade" id="modalImg4">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img loading="lazy" src="https://i.imgur.com/azxyd1P.jpg" class="img-fluid rounded-3">
            </div>
        </div>
    </div>
    <div tabindex="-1" aria-labelledby="modalImg1" aria-hidden="true" class="modal fade" id="modalImg5">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img loading="lazy" src="https://i.imgur.com/S631kJf.jpg" class="img-fluid rounded-3">
            </div>
        </div>
    </div>
    <div tabindex="-1" aria-labelledby="modalImg1" aria-hidden="true" class="modal fade" id="modalImg6">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img loading="lazy" src="https://i.imgur.com/C2PxdQ3.jpg" class="img-fluid rounded-3">
            </div>
        </div>
    </div>
    <!-- Osita -->
    <div tabindex="-1" aria-labelledby="modalImg1" aria-hidden="true" class="modal fade" id="modalImg7">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img loading="lazy" src="https://i.imgur.com/vuegEfy.png" class="img-fluid rounded-3">
            </div>
        </div>
    </div>
    <div tabindex="-1" aria-labelledby="modalImg1" aria-hidden="true" class="modal fade" id="modalImg8">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img loading="lazy" src="https://i.imgur.com/r2lNfOb.png" class="img-fluid rounded-3">
            </div>
        </div>
    </div>
    <div tabindex="-1" aria-labelledby="modalImg1" aria-hidden="true" class="modal fade" id="modalImg9">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img loading="lazy" src="https://i.imgur.com/kk4YjVT.png" class="img-fluid rounded-3">
            </div>
        </div>
    </div>
    <!-- dinosaurio -->
    <div tabindex="-1" aria-labelledby="modalImg1" aria-hidden="true" class="modal fade" id="modalImg10">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img loading="lazy" src="https://i.imgur.com/CJ64yQc.png" class="img-fluid rounded-3">
            </div>
        </div>
    </div>
    <div tabindex="-1" aria-labelledby="modalImg1" aria-hidden="true" class="modal fade" id="modalImg11">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img loading="lazy" src="https://i.imgur.com/rACp2lj.jpg" class="img-fluid rounded-3">
            </div>
        </div>
    </div>
    <div tabindex="-1" aria-labelledby="modalImg1" aria-hidden="true" class="modal fade" id="modalImg12">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img loading="lazy" src="https://i.imgur.com/41yOCoE.png" class="img-fluid rounded-3">
            </div>
        </div>
    </div>
    <!-- pulpos -->
    <div tabindex="-1" aria-labelledby="modalImg1" aria-hidden="true" class="modal fade" id="modalImg13">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img loading="lazy" src="https://i.imgur.com/fG2Uvvj.jpg" class="img-fluid rounded-3">
            </div>
        </div>
    </div>
    <div tabindex="-1" aria-labelledby="modalImg1" aria-hidden="true" class="modal fade" id="modalImg14">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img loading="lazy" src="https://i.imgur.com/BIhwxDv.png" class="img-fluid rounded-3">
            </div>
        </div>
    </div>
    <div tabindex="-1" aria-labelledby="modalImg1" aria-hidden="true" class="modal fade" id="modalImg15">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img loading="lazy" src="https://i.imgur.com/mqzUnnr.jpg" class="img-fluid rounded-3">
            </div>
        </div>
    </div>
    <!-- coneja -->
    <div tabindex="-1" aria-labelledby="modalImg1" aria-hidden="true" class="modal fade" id="modalImg16">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img loading="lazy" src="https://i.imgur.com/wu95zSm.jpg" class="img-fluid rounded-3">
            </div>
        </div>
    </div>
    <div tabindex="-1" aria-labelledby="modalImg1" aria-hidden="true" class="modal fade" id="modalImg17">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img loading="lazy" src="https://i.imgur.com/TFgakGy.jpg" class="img-fluid rounded-3">
            </div>
        </div>
    </div>
    <div tabindex="-1" aria-labelledby="modalImg1" aria-hidden="true" class="modal fade" id="modalImg18">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img loading="lazy" src="https://i.imgur.com/FmOJITD.png" class="img-fluid rounded-3">
            </div>
        </div>
    </div>
    <!-- stitch -->
    <div tabindex="-1" aria-labelledby="modalImg1" aria-hidden="true" class="modal fade" id="modalImg19">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img loading="lazy" src="https://i.imgur.com/g5c3NBW.png" class="img-fluid rounded-3">
            </div>
        </div>
    </div>
    <div tabindex="-1" aria-labelledby="modalImg1" aria-hidden="true" class="modal fade" id="modalImg20">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img loading="lazy" src="https://i.imgur.com/jllsSv7.png" class="img-fluid rounded-3">
            </div>
        </div>
    </div>
    <div tabindex="-1" aria-labelledby="modalImg1" aria-hidden="true" class="modal fade" id="modalImg21">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img loading="lazy" src="https://i.imgur.com/8DtMiZn.png" class="img-fluid rounded-3">
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer class="bg-dark text-white  mt-4">
        <div class="container p-4">
            <div class=" d-grid gap-3 text-center">
                <div>
                    <img src="https://i.imgur.com/9X8oAos.png">
                </div>

                <div class=" list-unstyled" id="cont">
                    <h5 class="text-uppercase">Contacto</h5>
                    <a href="https://www.instagram.com/dgamigurumi/" class="text-decoration-none text-white"><i
                            class="bi bi-instagram me-1"></i>FRANASEMB </a>
                    <br>
                    <a href="#!" class="text-white text-decoration-none">francoaasemborn@gmail.com</a>
                    <a href="#!" class="text-decoration-none text-white">
                        <p><i class="bi bi-geo-alt-fill me-1"></i>Villa Elisa, Entre Riós</p>
                    </a>
                </div>
                <div class=" align-bottom">
                    <a href="https://www.instagram.com/franasemb/" class="text-decoration-none text-white text-center">
                        <p>©Web creada por Franco Asemborn</p>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
</script>

</html>